service firebase.storage {
  match /b/{bucket}/o {
    match /proximity/{fuid}/{allPaths=**} {
      allow write: if request.auth.uid == fuid;
    }
  }
}
